@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Chat with AI";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Chat with OpenAI API</h2>
            <hr />
            <div class="chat-box">
                <div class="message-box" id="message-box">
                    <!-- Your messages will appear here -->
                    <div class="container-topic">
@*                        <h1>Topic List</h1>
                        <ul class="list-group">
                            <li class="list-group-item">Hotel</li>
                            <li class="list-group-item">Topic 2</li>
                            <li class="list-group-item">Topic 3</li>
                            <li class="list-group-item">Topic 4</li>
                        </ul>*@
                        <div class="input-group mb-3">
                            <input type="text" id="topic" class="form-control" placeholder="Select your topic">
                            <div class="input-group-append">
                                <button class="btn btn-primary" id="send-button-topic">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" id="prompt" class="form-control" placeholder="Type your message here...">
                    <div class="input-group-append">
                        <button class="btn btn-primary" id="send-button">Send</button>
                    </div>
                </div>
                <div class="text-center">
                    @*<button class="btn btn-secondary" id="topic-button">Get topic words</button>*@
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#prompt").keypress(function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                $("#send-button").click();
            }
        });

        $("#send-button").click(function () {
            var prompt = $("#prompt").val();

            if (prompt.length > 0) {
                var button = $(this);
                button.prop("disabled", true);

                // Block input to the form
                $("#prompt").prop("disabled", true);
                $("#send-button").prop("disabled", true);

                // Add three dots animation to the input form
                var dots = 0;
                var intervalId = setInterval(function () {
                    var dotsString = Array(dots % 3 + 1).join(".");
                    $("#prompt").attr("placeholder", "Waiting for response" + dotsString);
                    dots++;
                }, 500);

                $("#prompt").val("");

                // Add user message to the chat box
                var box = $("#message-box");
                box.append("<div class='message'><b>You:</b> " + prompt + "</div>");
                box.scrollTop(box.prop("scrollHeight"));

                $.ajax({
                    type: "POST",
                    url: "/Chat/SendMessage",
                    data: { prompt: prompt },
                    success: function (result) {
                        clearInterval(intervalId); // Clear the three dots animation
                        $("#prompt").attr("placeholder", "Type your message here..."); // Reset the input form
                        $("#prompt").prop("disabled", false); // Unblock input to the form
                        $("#send-button").prop("disabled", false);

                        if (result.success) {
                            var message = result.message;
                            var box = $("#message-box");

                            box.append("<div class='message'><b>OpenAI API:</b> " + message + "</div>");
                            box.scrollTop(box.prop("scrollHeight"));
                        }
                        else {
                            alert(result.message);
                        }

                        button.prop("disabled", false);
                    },
                    error: function () {
                        clearInterval(intervalId); // Clear the three dots animation
                        $("#prompt").attr("placeholder", "Type your message here..."); // Reset the input form
                        $("#prompt").prop("disabled", false); // Unblock input to the form
                        $("#send-button").prop("disabled", false);

                        alert("An error occurred while sending the message.");
                        button.prop("disabled", false);
                    }
                });
            }
            else {
                alert("You need to provide some input");
            }
        });
    

        $("#send-button-topic").click(function () {
            var topic = $("#topic").val();
            var button = $(this);
            button.prop("disabled", true);
            $.ajax({
                type: "POST",
                url: "/Chat/SendTopic",
                data: { prompt: topic },
                success: function (result) 
                {
                    if (result.success) 
                    {
                        var message = result.message;
                        var box = $("#message-box");
                        $('.container-topic').hide();

                        box.append("<div class='message'><b>AI:</b> You have chosen the topic " + topic + " to study. </div>");
                        box.append("<div class='message'><b>AI:</b> Below are the words behind the " + topic + " theme.</div>");
                        var words = message.split(',');
                        var container = document.getElementById("message-box");

                        var list = document.createElement("ul");

                        for (var i = 0; i < words.length; i++) {
                            var word = words[i];
                            var listItem = document.createElement("li");

                            listItem.textContent = word;

                            listItem.addEventListener("click", function () {
                                sendDataToServer(this.textContent);
                            });

                            list.appendChild(listItem);
                        }

                        container.appendChild(list);
                       //box.append("<div class='message'><b>AI:</b> " + message + "</div>");
                        box.scrollTop(box.prop("scrollHeight"));
                        

                    }
                    else 
                    {
                        alert(result.message);
                    }
                }
            });




        });
    });

    function separateWords(message) {
        // Use the split() method to split the message string into an array of words
        var wordsArray = message.split(',');

        // Return the array of words
        return wordsArray;
    }
    function sendDataToServer(word) {
        $.ajax({
            type: "POST",
            url: "/Chat/SendWord",
            data: { prompt: word },
            success: function (result) {
                if (result.success) {
                    var message = result.message;
                    var box = $("#message-box");
                    $('.container-topic').hide();
                    box.append("<div class='message'><b>AI:</b> " + message + "</div>");
                    box.scrollTop(box.prop("scrollHeight"));


                }
                else {
                    alert(result.message);
                }
            }
        });
    }
</script>



