@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-none box-shadow mb-3 header">
        <div class="container-fluid ">


            <a class="navbar-brand logo" asp-area="" asp-controller="Home" asp-action="Index"><div class=" header__block1"> <img class="logo__img" src="~/img/Logo.svg" alt="logo"> <h5 class="logo__text">LinguaChat</h5></div></a>
            
                <button class="navbar-toggler header__btn" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            
            </button>


            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center header__block2">
                <ul class="navbar-nav flex-grow-1 header_menu__text">

                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>
@*                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Blog</a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Panel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Panel" asp-action="Index">Statistics</a>
                    </li>
                    } else
                    {
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>



@*@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item ">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item sign-box">
        <a class="nav-link text-white sign-box__text" asp-area="Identity" asp-page="/Account/Login">Sign in</a>
    </li>
    <li class="nav-item sign-box-gradient">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Sign up</a>
    </li>
}
</ul>*@