<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Chat.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/GeneralStyle.css" asp-append-version="true" />
</head>
<body>
    @{
        Html.RenderPartial("~/Views/Shared/_Header.cshtml");
    }


 
            @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container text-center ">
            &copy; 2023 - Chat - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none text-white">Privacy</a>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
