@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="chat-background">
    <div class="chat">
        <div class="chat_box">
            <div class="chat__messages">
                <div class="chat__message chat__message--ai">
                    <span>Assistant</span>
                    <p></p>
                    <p>Hello! I am your assistant who can check your text for errors and correct it</p>
                    <p></p>
                </div>

            </div>
        </div>

        @*            <button class="chat__button chat__button--clear">Clear chat</button>*@


        <div class="chat__buttons">
            <div class="chat__buttons--flex">
                <button class="chat__button chat__button--rules ">Get rules</button>
                <button class="chat__button chat__button--examples ">Get examples</button>
                <button class="chat__button chat__button--ask ">Ask question</button>
            </div>
        </div>




        <form class="chat__form">
            <button class="chat__button--clear">
                <span class="chat__clear-icon" aria-hidden="true"></span>
            </button>
            <input class="chat__input" type="text" placeholder="Enter your message...">
            <button class="chat__send-message-btn chat__button--correct">Correct</button>
        </form>
    </div>
</div>