@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="chat-background">
    <div class="chat">
        <div class="chat_box">
            <div class="chat__messages">
                <div class="chat__message chat__message--ai">
                    <span>Assistant</span>
                    <p></p>
                    <p>English: Hello! I am your assistant, who can check your text for errors and correct them. Write the text and I will correct it</p>
                    <p></p>
                    <p>Russian: Здравствуй! Я ваш помощник, который может проверить ваш текст на наличие ошибок и исправить их. Напишите текст, и я его исправлю</p>
                    <p></p>
                </div>

            </div>
        </div>

        @*            <button class="chat__button chat__button--clear">Clear chat</button>*@


        <div class="chat__buttons">
            <div class="chat__buttons--flex">
                <button class="chat__button chat__button--rules ">Why ?</button>
                <button class="chat__button chat__button--examples ">Examples</button>
                <button class="chat__button chat__button--ask ">Ask question</button>
            </div>
        </div>

        <form class="chat__form">
            <button class="chat__button--clear">
                <span class="chat__clear-icon" aria-hidden="true"></span>
            </button>
            <input class="chat__input" type="text" placeholder="Write the text you want to correct here">
            <button class="chat__send-message-btn chat__button--correct">Correct</button>
        </form>
    </div>
</div>

<script src="/js/grammar.js"></script>