@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<link rel="stylesheet" href="/css/MyStyleForHomePage.css">
@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<style>
    .user-message {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border-radius: 20px 20px 0 20px;
        background-color: #e9e9e9;
        margin-bottom: 10px;
    }

    .ai-message {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        border-radius: 20px 20px 20px 0;
        background-color: #c8e1ff;
        margin-bottom: 10px;
    }

    .message-content {
        padding: 10px;
        border-radius: 10px;
        max-width: 80%;
        word-break: break-word;
    }

        .message-content::before {
            content: attr(data-author);
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

    .card {
        height:100%;
    }
</style>

<section class="welcome-header" >
    <div style="">
        <div class="row">
            <div class="col ">
                <h1 class="welcome-header__title-main text-center ">Your personal AI-teacher</h1>

                <ul class="navbar-nav sign">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item sign__register">
                            <a class="nav-link text-white " href="/Chat/Index"><img src="~/img/video-circle.png" alt="A description of the image">Let's start</a>
                        </li>
                    }
                    else
                    {

                        <h5 class="welcome-header__title-description text-center ">Register on our platform to use our services</h5>

                        <li class="nav-item sign__register ">
                            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Sign up</a>
                        </li>
                        <li class="nav-item sign__login">

                            <a class="nav-link text-white sign__link" asp-area="Identity" asp-page="/Account/Login"><img src="~/img/video-circle.png" alt="A description of the image">Already have account?</a>
                        </li>
                    }
                </ul>



                

            </div>
        </div>
    </div>

</section>

<section class="cards">
    <div class="d-flex align-items-center justify-content-center" style="height: 18vh;">
        <div class="text-center">
            <h1 class="welcome-header__title-main">Your personal AI-teacher</h1>
            <h5 class="welcome-header__title-description">Register on our platform to use our services</h5>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="card bg-dark text-white">
                <div class="text-center">
                    <h4 class="card-header">Learn new words</h4>
                </div>
                <div class="card-body">
                    <h5 class="text-white card-title">Service capabilities:</h5>
                    <ul class="list-group list-group-flush p-0 m-0">
                        <li class="list-group-item user-message">
                            <div class="message-content">
                                User proposes the lesson topic for learning new words
                            </div>
                        </li>
                        <li class="list-group-item ai-message">
                            <div class="message-content">
                                AI provides a list of key words related to the topic
                            </div>
                        </li>
                        <li class="list-group-item user-message">
                            <div class="message-content">
                                User can ask for definitions of unfamiliar words
                            </div>
                        </li>
                        <li class="list-group-item ai-message">
                            <div class="message-content">
                                AI provides definitions and examples of word usage
                            </div>
                        </li>
                        <li class="list-group-item user-message">
                            <div class="message-content">
                                User can ask questions related to the lesson topic and receive answers from AI
                            </div>
                        </li>
                    </ul>
                    <a class="btn btn-primary mx-auto py-2 d-block mt-2 nav-link text-white" href="/Chat/Index">In active development</a>
                </div>
            </div>
        </div>




        <div class="col-md-4">
            <div class="card bg-dark text-white">
                <div class="text-center">
                    <h4 class="card-header">Grammar check</h4>
                </div>
                <div class="card-body">
                    <h5 class="text-white card-title">Service capabilities:</h5>
                    <ul class="list-group list-group-flush p-0 m-0">
                        <li class="list-group-item user-message">
                            <div class="message-content">
                                User can submit their text for grammar check
                            </div>
                        </li>
                        <li class="list-group-item ai-message">
                            <div class="message-content">
                                AI checks the grammar and provides recommendations for correcting errors
                            </div>
                        </li>
                        <li class="list-group-item user-message">
                            <div class="message-content">
                                User can ask about the grammar rules applied to the corrected text
                            </div>
                        </li>
                        <li class="list-group-item user-message">
                            <div class="message-content">
                                User can ask for examples of how the rules are applied in sentences
                            </div>
                        </li>
                        <li class="list-group-item ai-message">
                            <div class="message-content">
                                AI generates and sends examples with explanations.
                            </div>
                        </li>
                    </ul>
                    <a class="btn btn-primary mx-auto py-2 d-block mt-2 nav-link text-white" href="/Grammar/Index">Try it now</a>
                </div>
            </div>
        </div>




        <div class="col-md-4">
            <div class="card bg-dark text-white">
                <div class="text-center">
                    <h4 class="card-header">Chat for conversation</h4>
                </div>
                <div class="card-body">
                    <h5 class="text-white card-title">Service capabilities:</h5>
                    <ul class="list-group list-group-flush p-0 m-0">
                        <li class="list-group-item user-message">
                            <div class="message-content">
                                User sends a text message to AI
                            </div>
                        </li>
                        <li class="list-group-item ai-message">
                            <div class="message-content">
                                AI checks the user's text message and responds, taking into account grammar and providing recommendations for correcting errors.
                            </div>
                        </li>
                        <li class="list-group-item ai-message">
                            <div class="message-content">
                                AI analyzes the context of the user's text message to better understand the user's intent and tailor its response accordingly.
                            </div>
                        </li>
                        <li class="list-group-item ai-message">
                            <div class="message-content">
                                AI checks the user's text message and responds, taking into account grammar and providing recommendations for correcting errors.
                            </div>
                        </li>
                    </ul>
                    <a class="btn btn-primary mx-auto py-2 d-block mt-2 nav-link text-white" href="/Chat/Index" style="pointer-events: none;">Soon</a>
                </div>
            </div>
        </div>

    </div>
</section>



