@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container-fluid">
    <h1 class="display-4 text-center mt-5">Privacy Policy</h1>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <p class="lead">Thank you for using our web platform for learning English with the help of artificial intelligence. The platform takes care of protecting users' privacy and provides a safe and enjoyable learning experience.</p>
            <h2 class="mt-5">Information Collected</h2>
            <p>The platform collects personal information that is provided by users when using the web platform, such as name and email address. The platform also collects information about usage of the platform, including chats participated in and content accessed.</p>
            <h2 class="mt-5">Use of Your Information</h2>
            <p>Personal information is used to provide a customized learning experience and communicate with users about the platform's services. The platform may also use this information to improve the platform and analyze usage patterns.</p>
            <h2 class="mt-5">Sharing Your Information</h2>
            <p>Personal information is not shared with third parties without users' consent, except in limited circumstances as required by law.</p>
            <h2 class="mt-5">Security of Your Information</h2>
            <p>The platform takes reasonable measures to protect personal information from unauthorized access, use, or disclosure. However, no data transmission over the internet or electronic storage can be guaranteed to be 100% secure.</p>
            <h2 class="mt-5">Changes to the Privacy Policy</h2>
            <p>The platform's privacy policy may be updated from time to time. Notification of any changes will be made by posting the new policy on the web platform.</p>
            <h2 class="mt-5">Contact Us</h2>
            <p>If there are any questions or concerns about the privacy policy, please contact the platform at <a href="mailto:vladimir24863@gmail.com">vladimir24863@gmail.com</a>.</p>
        </div>
    </div>
</div>


