@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="chat-background">
    <div class="chat">
        <div class="chat_box">
            <div class="chat__messages">
                <div class="chat__message chat__message--ai">
                    <span>Assistant</span>
                    <p></p>
                    <p>
                        English: Hello, I am your helper who can teach you new words on a given topic.
                        Please enter a topic so that I can pick up words on your topic. 
                        After you enter the topic, I will give you a list of words on the topic and you can click on the word to get its definition.
                    </p>
                    <p>
                        Russian: Здравствуй, я твой помощник, который может научить тебя новым словам по заданной теме. 
                        Пожалуйста, введите тему, чтобы я мог подобрать слова по твоей теме. 
                        После того как вы введете тему, я предоставлю вам список слов по теме, и вы сможете нажать на слово, чтобы получить его определение.
                    </p>
                    <p></p>
                </div>

            </div>
        </div>



        <div class="chat__buttons">
            <div class="chat__buttons--flex">
                <button class="chat__button chat__button--ask ">Ask question</button>
            </div>
        </div>

        <form class="chat__form">
            <button class="chat__button--clear">
                <span class="chat__clear-icon" aria-hidden="true"></span>
            </button>
            <input class="chat__input" type="text" placeholder="Write here your topic">
            <button class="chat__send-message-btn chat__button--topic">Send</button>
        </form>
    </div>
</div>

<script src="/js/learnNewWords.js"></script>