chat-background. {
    background-color: #BAD7E9;
}
.chat {
    background-color: #BAD7E9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
}
.chat_box {
    width: 75%;
    overflow-y: auto;
    max-height: 67vh;
    min-height: 66vh;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 0px;
    margin-bottom: 25px;
    padding: 10px;
}

/* Common styles for scrollbar inside elements with class 'chat_box' */
.chat_box::-webkit-scrollbar {
   width: 8px; /* Width of scrollbar */
}

/* Styles for scrollbar thumb inside elements with class 'chat_box' */
.chat_box::-webkit-scrollbar-thumb {
  background-color: #bbb; /* Color of scrollbar thumb */
  border-radius: 10px; /* Border radius of scrollbar thumb */
}

/* Styles for scrollbar track inside elements with class 'chat_box' */
.chat_box::-webkit-scrollbar-track {
  background-color: #eee; /* Color of scrollbar track */
  border-radius: 10px; /* Border radius of scrollbar track */
}



.chat__messages {
    
    min-height: 66vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.chat__message {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

/* Styles for user messages */
.chat__message--user {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0 0 10px auto;
    max-width: 80%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    align-self: flex-end;
}

    .chat__message--user span {
        display: block;
        text-align: right;
        font-weight: bold;
        color: #333;
        margin-bottom: 5px;
    }

/* Styles for AI messages */
.chat__message--ai {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0 auto 10px 0;
    max-width: 80%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    align-self: flex-start;
}

    .chat__message--ai span {
        display: block;
        text-align: left;
        font-weight: bold;
        color: #333;
        margin-bottom: 5px;
    }


.chat__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 20px;
}
.chat__form--ask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0px;
}

.chat__input {
    width: 90%;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    border: none;
}
.chat__input--ask {
    width: 90%;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    border: none;
}

.chat__send-message-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

    margin-left: 0;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}



.chat__buttons {
     display: none; 
}
.chat__buttons--flex {
    display: flex;
    flex-direction: row;
    width:73vw;
}

.chat__button {
    display: block;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, #6F42C1, #A840D9);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-left:10px;
    text-align:center;
}

.chat__button:hover {
    opacity: 0.8;
}
.chat__button--ask {

}
.chat__form--ask {
}
.chat__button--clear {
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background-color: birch;
    border: none;
    margin-right: 10px;
    overflow: hidden;
    background-color: transparent;
    background-image: url('/img/Clear1.png');
    background-size: cover;
}

.chat__clear-icon {
    display: block;
    min-width: 20px;
    min-height: 20px;
    background-image: url('path/to/your/clear-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.chat__input--ask {
    display: block;
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
}


/* Media query for large screens */
@media screen and (min-width: 768px) {
    .chat__form--ask {
        display: flex;
        align-items: center;
    }

    .chat__input--ask {
        width: 100%;
        margin-left: 20px;
    }
}

/* Media query for mobile screens */
@media screen and (max-width: 767px) {
    .chat__buttons--flex {
        flex-wrap: wrap;
        justify-content: center;
    }
    .chat__send-message-btn {
        padding: 6px 4px;
    }
    .chat__button {
        width: calc(48% - 5px);
        margin-left: 5px;
        margin-right: 3px;
        margin-left: 3px;
        margin-bottom: 10px;
    }

    .chat__form--ask {
        width: 100%;
        padding:0px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .chat__input--ask {
        width: 100%;
        margin-bottom: 10px;
    }

}
